
/*ESTILOS PARA EL HEADER*/
:root {
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*La navegacion*/
#nav-content {
    background-color: var(--primary-color);
    height: auto;
    width: 100%;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-nav .nav-item {
    flex: 1; /* Hace que cada li ocupe el mismo espacio */
    text-align: center; /* Centra el contenido de cada columna */
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #fff; /* Color del texto */
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 15px 0; /* Añade padding para mayor área de clic */
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #000; /* Color del texto al hacer hover */
    background-color: #fff; /* Fondo del enlace al hacer hover */
    border-radius: 5px;
  }
  
  .navbar-nav .nav-link.disabled {
    color: #ccc; /* Color del texto para enlaces deshabilitados */
  }

  .navbar-nav .nav-item a{
      font-size: 20px;
      font-family: cursive;
  }

/* Estilos para el encabezado */
.contenido-inicial {
    background-color: var(--background-color);
}

/* Estilos para el contenedor inicial */
.contenedor-inicial {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

/* Estilos para el soporte al cliente */
.soporte-cliente {
    display: flex;
    align-items: center;
}

.contenedor-logo{
    display: flex;
    align-items: center;
}

i{
    font-size: 30px;
}

.carrito-contenedor{
    display: flex;
    flex-direction: column;
}
.navegacion-contenedor{
    background-color: var(--primary-color);
}
.contenido-navegacion{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.contenido-navegacion .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}
.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #fff;
}

/*Estliso para el body*/

.banner{
    background-image: linear-gradient(100deg, #000000, #00000020);
    height: 40rem;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Centra el contenido verticalmente */
}

.banner-contenido{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
    margin-left: 5rem; /* Ajusta este valor según lo que necesites */
    text-align: left; /* Ajusta el texto alinear a la izquierda */
}

.banner-contenido p{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.banner-contenido h2{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.banner-contenido a{
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}

.usuario-contenedor i{
    font-size: 15px;
}
.usuario-contenedor button{
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 2rem;
    border: none;
    font-size: 15px;
}

.modal-header .modal-title{
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

/*MAIN CONTENT*/
.main-content{
    background-color: var(--background-color);
    margin-left: 3rem;
}

.facturas-contenido{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
    margin-left: 200px;
}

.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem 0;
}

.card-feature i{
    font-size: 2.7rem;
    color: var(--primary-color);
}

.feateure-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feateure-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--dark-color);
}

.feateure-content p{
    color: #777;
    font-weight: 500 ;
}

.contenido-categorias{
    display: flex;
    margin: 20px;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    
}

.container-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category-concha-rosada{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
    background-image: linear-gradient(#00000080, #00000080), url(../recursos/concha-rosa.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.card-category-cuernito{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
    background-image: linear-gradient(#00000080, #00000080), url(../recursos/cuernito.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.card-category-capuchino{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
    background-image: linear-gradient(#00000080, #00000080), url(../recursos/capucchino.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
}

.about-us .carousel {
    max-width: 100%;
    width: 100%;
    height: 350px; /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    position: relative;
  }
  
  .about-us .carousel-inner {
    height: 100%;
  }
  
  .about-us .carousel-item {
    height: 100%; /* Asegura que el elemento del carrusel ocupe toda la altura del contenedor */
  }
  
  .about-us .carousel-item img {
    max-width: 100%; /* Asegura que las imágenes no se desborden */
    height: 100%; /* Ajusta la altura de las imágenes al contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor sin deformarse */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out; /* Transición suave */
  }



#promos{
    width: 800px;
    height: 700px;
}

#logoF{
    float: left; 
    width: 150px; 
    margin-right: 20px;
    border-radius: 100px;
}

.logoFortin{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.container-categorias p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}
.container-categorias p{
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.container-categorias span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.container-categorias span:hover{
    color: var(--primary-color);
}

/*TOP PRODUCTS*/
.container-products{
    display: flex;
    margin: 20px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.conteiner-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.conteiner-options span{
    color: #777;
    background-color: #fff;
    padding: .7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid var(--primary-color); /* Cambia "red" al color que desees */
}
.conteiner-options span:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.conteiner-options span.active{
    background-color: var(--primary-color);
    color: #fff;
}

/* PRODUCTOS */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0; /* Ajusta el padding según sea necesario */
}

.conteiner-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.card-product{
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-left: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary-color);
}

.container-img{
    position: relative;
}

.container-img img{
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--primary-color);
    border-radius: .5rem;
}

.container-img .descuento{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: .5rem;
    font-size: .9rem;
}

.card-product:hover .descuento{
    background-color: #000000;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .4s ease;
}

.button-group span i{
    font-size: 1.3rem;
    color: var(--primary-color);
}

.button-group span:hover i{
    color: #fff;
}

.button-group span{
    border: 1px solid var(--primary-color);
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

.button-group span:hover{
    background-color: var(--primary-color);
}

.content-card-product{
    padding: 1rem;
}

.rango-starts{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.rango-starts i{
    font-size: 1.3rem;
    color: var(--primary-color);
}

.content-card-product h3{
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover{
    color: var(--primary-color);
}

.add-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border: 2px solid var(--primary-color);
    padding: .5rem 3.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .4s ease;
}

.add-cart:hover{
    background-color: var(--primary-color);
}

.add-cart i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.add-cart:hover i{
    color: #fff;
}

.content-card-product .precio{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.content-card-product .precio span{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: .5rem;
}

/********************* Acerca de Nosotros ***************/
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .about-us .text {
    flex: 1;
    margin-right: 20px;
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
  }

  .about-us .text p {
    margin: 10px 0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .about-us .a-CTA {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .about-us .a-CTA:hover {
    background-color: #0056b3;
  }

  .about-us .carousel-fade {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  

  .about-us .image-container .carousel {
    max-width: 100%; /* Ajusta el ancho máximo del carrusel */
    width: 100%;
    height: 400px; /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    position: relative;
  }
  
  .about-us .carousel-inner img {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes dentro del carrusel */
    height: 100%; /* Ajusta la altura de las imágenes al contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor sin deformarse */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out; /* Transición suave */
  }

  .about-us .cardForm{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /*********** Para la seccion de contactanos *********************/

  .contact-us {
    display: flex;
    align-items: flex-start; /* Alinea al inicio para que el texto esté arriba */
    justify-content: space-between;
    gap: 20px;
  }
  
  .contact-us .text {
    flex: 1;
    margin-right: 35px;
  }
  
  .contact-us .text h1, .contact-us .text p {
    margin: 0; /* Elimina el margen para ajustar mejor */
  }
  
  .contact-us .text p {
    margin-top: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .cardForm {
    flex: 1;
  }
  
  .card-title {
    text-align: center;
    font-size: 30px;
  }
  
  .content-image {
    height: 100%;
  }
  
  .content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card {
    width: 100%;
    max-width: 900px; /* Ajusta el ancho máximo de la tarjeta */
  }


/*Estilos para la seccion de footer*/

#container-footer{
    background-color: var(--primary-color);
}

footer h3{
    font-size: 25px;
    color: black;
}

.contactos{
    color: black;
}

.facebook{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 31px;
    color: #fff;
    border: 2px #fff solid;
    display: inline-block;
    margin: 0 3px 0 0;
    background-color: transparent;
    cursor: pointer;
}

.facebook:hover{
    background-color: #405de6;
}

.twitter{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 31px;
    color: #fff;
    border: 2px #fff solid;
    display: inline-block;
    margin: 0 3px 0 0;
    background-color: transparent;
    cursor: pointer;
}

.twitter:hover{

    background-color: black;
}

.instagram{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 31px;
    color: #fff;
    border: 2px #fff solid;
    display: inline-block;
    margin: 0 3px 0 0;
    background-color: transparent;
    cursor: pointer;
}

.instagram:hover{
    background: linear-gradient(
        #405de6,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #fcaf45
    );
}

.whatsapp{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 31px;
    color: #fff;
    border: 2px #fff solid;
    display: inline-block;
    margin: 0 3px 0 0;
    background-color: transparent;
    cursor: pointer;
}

.whatsapp:hover{
    background-color: rgb(8, 177, 8);
}

.site-info{
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 300;
    margin: 50px;
    margin-bottom: 28px;
}

#hasicon{
    color: black;
    font-size: 18px;
}

#social{
    color: white;
    font-size: 18px;
}

/*VENTANA MODAL XD*/
/* Estilos para la ventana modal */
.modal-body .btnlogin{
    text-align: center;
    font-size: 30px;
}
/* Estilos para el botón de cerrar */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

form {
    display: grid;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: peru;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--primary-color);
}

