table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 7px solid #0f86db;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #ffffff;
}

.operaciones {
    display: flex;
    gap: 10px;
}
.operaciones button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    transition: background-color 0.3s;
}
.operaciones button:hover {
    background-color: #ccc;
}

.btn-agregar {
    margin-bottom: 20px;
}
.btn-agregar button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}
.btn-agregar button:hover {
    background-color: #45a049;
}
div.operaciones button a{
    text-decoration:black;
    color: rgb(0, 0, 0); 
}

